doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title page title
    link(rel='stylesheet', href='/css/core.css')
    link(rel="icon", href='/favicon.png')
  body

    // Navigation menu.
    nav.nav-menu(role="navigation")
      a(href="#main") Skip to main content
      a.nav-menu__item(href='/') Home
      a.nav-menu__item(href='/posts') Posts
      a.nav-menu__item(href='/about') About

    // Main Content
    main.content#main(role="main")
        if body
          div!= body
        else
          block content

    // Site Footer
    .footer
      p= `© Copyright ${(new Date()).getFullYear()} Alistair Chisholm.`
      ul
        li
          a(href="https://github.com/achisholm", rel="me") Github
        li
          a(href="https://twitter.com/ayepod", rel="me") Twitter
        li
          a(href="mailto:alistair@fastmail.com", rel="me") Email

  script(src=url)
