doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content="Alistair Chisholm")
    meta(property="og:site_name" content="alistairchisholm.co.uk")
    meta(property="og:description" content="My website. There are many like it but this one is mine.")
    meta(property="og:image" content="/images/social/screenshot.jpg")
    meta(property="og:url" content="https://alistairchisholm.co.uk")
    meta(name="twitter:site" content="@ayepod")
    meta(name="twitter:card" content="summary_large_image")
    block vars
    title #{title}
    link(rel="stylesheet" href="/css/core.css")
  body
    nav.app-nav
      .button.menu-button#menu-button MENU
      .app-nav__items
        a.app-nav__item.js-menu-item.is-active(href='/') Home
        a.app-nav__item.js-menu-item(href='/notes') Notes
        a.app-nav__item.js-menu-item(href='/about') About
        a.app-nav__item.js-menu-item(href='/contact') Contact
    .profile Alistair Chisholm
      .profile__avatar
    .container
      .container__content
        block content
    block footer 
      script(src="/scripts/core.js")
