extends _includes/layout
block vars
  - const title = "Home"
block content
  .home
    h1.home__heading Hi, I&apos;m a front-end dev at #[a(href='/') Qcode Software] in Inverness, where I work on user-interface design & user-experience.
