extends _includes/layout
block vars
  - const title = "Home"
block content
  .home
    h1.home__heading Hi, I&apos;m a front-end developer with a love for user-interface design &amp; user-experience.
