extends _includes/layout
block vars
  - const title = "About"
block content
  .home
    h1.home__heading Hi, I&apos;m a front-end developer with a passion for user-interface design &amp; user-experience.
