extends _includes/layout
block vars
  - const title = "Home"
block content
  form.fieldset(name="contact" method="POST" data-netlify="true")

    .field
      label.field__label(for="name") Your Name:
      input.field__input#name(type="text" name="name")

    .field
      label.field__label(for="email") Your Email:
      input.field__input#email(type="email" name="email")

    .field.field--textarea
      label.field__label(for="message") Message:
      textarea.field__input#message(name="message")

    button.button(type="submit") Send
