extends includes/layout.pug

block content
  article#post
    h1= page.title
    != page.content
  div!= paginator()

  // Navigation to Next / Previous posts.
  if page.next || page.prev
    nav.prev-next
      ul
      if page.next && page.next.path
        li Older:
          a(href=url_for(page.next.path))= page.next.title
      if page.prev && page.prev.path
        li Newer:
          a(href=url_for(page.prev.path))= page.prev.title
