-
  var formatDate = (dateString) => {
    // Convert a Date string into a readable format.
    var options = { year: "numeric", month: "long", day: "numeric" }
    return new Date(dateString).toLocaleDateString(undefined, options)
  }

block vars
doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title #{title}

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")

    link(rel="stylesheet" href="/css/core.css")
    
    
    meta(property="og:title" content="Alistair Chisholm")
    meta(property="og:site_name" content="alistairchisholm.co.uk")
    meta(property="og:description" content="My website. There are many like it but this one is mine.")
    meta(property="og:image" content="/images/profile.jpg")
    meta(property="og:url" content="https://alistairchisholm.co.uk")
    meta(name="twitter:site" content="@ayepod")
    meta(name="twitter:card" content="summary_large_image")
    
  
  body
    //- div(style="background:red;color: white;padding: 20px; margin: 10px;") Warning. Redesign happening.
    nav.app-nav
      .button.menu-button#menu-button MENU
      .app-nav__items
        a.app-nav__item.js-menu-item(href='/')&attributes({class: (activeMenuItem == 'about' ? 'is-active': '')}) About
        a.app-nav__item.js-menu-item(href='/notes')&attributes({class: (activeMenuItem == 'notes' ? 'is-active': '')}) Notes

    a.profile(href='/') Alistair Chisholm
      .profile__avatar
    
    main.container
      .container__content
        block content
    block footer

    script(src="/scripts/core.js")
