block vars
doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title #{title}
    link(rel="stylesheet" href="/css/core.css")
    
    meta(property="og:title" content="Alistair Chisholm")
    meta(property="og:site_name" content="alistairchisholm.co.uk")
    meta(property="og:description" content="My website. There are many like it but this one is mine.")
    meta(property="og:image" content="/images/profile.jpg")
    meta(property="og:url" content="https://alistairchisholm.co.uk")
    meta(name="twitter:site" content="@ayepod")
    meta(name="twitter:card" content="summary_large_image")
  
  body
    nav.app-nav
      .button.menu-button#menu-button MENU
      .app-nav__items
        a.app-nav__item.js-menu-item(href='/')&attributes({class: (activeMenuItem == 'about' ? 'is-active': '')}) About
        a.app-nav__item.js-menu-item(href='/notes')&attributes({class: (activeMenuItem == 'notes' ? 'is-active': '')}) Notes

    .profile Alistair Chisholm
      .profile__avatar
    
    .container
      .container__content
        block content
    block footer
      script(src="/scripts/core.js")
