extends _includes/layout
block vars
  - const activeMenuItem = "notes"

block content
  h1.heading= title
  time= formatDate(date)
  != content

  a.button(href=`mailto:alistair@fastmail.com?subject=${encodeURIComponent(title)}`) Reply via email
