//==============================================================================
// MAIN CONTAINER.
//==============================================================================

.container {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 70vw;
    padding: var(--base-unit);
    box-shadow: 0 0 10px 10px rgba(black, 0.02);
     
    &__content {
      overflow: auto;
      width: 100%;
      padding-right: var(--base-unit);
      
      &::-webkit-scrollbar {
          $size: 10px;       
          // ::-webkit-scrollbar
          // The background of the scrollbar, covered by the other elements.
          height: $size;
          width: $size;
  
          &-button {
              // ::-webkit-scrollbar-button
              // Directional buttons on the scrollbar.
              height: 0;
              width: 0;
          }
  
          &-corner {
              // ::-webkit-scrollbar-corner
              // Bottom corner of the scrollable element, where two
              // scrollbars meet.
              background: transparent;
          }
  
          &-thumb {
              // ::-webkit-scrollbar-thumb
              // Draggable scrolling handle that resizes depending on the size
              // of the scrollable area.
              background-color: var(--base-color);
              min-height: 30px;
              border-radius: $size;
              margin: 2px;
          }
          
          &-track {
              // ::-webkit-scrollbar-track
              // The track (progress bar) of the scrollbar.
              background-color: rgba(black, 0.025);
              transition: background-color 0.3s ease;
              &:hover {
                  // ::-webkit-scrollbar-track:hover
                  background-color: rgba(black, 0.05);
              }
  
              &:active {
                  // ::-webkit-scrollbar-track:active
                  background-color: rgba(black, 0.05);
              }
          }
      }
    }
  }
  