.profile {
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: var(--base-unit);
    right: var(--base-unit);
    transition: 0.1s opacity ease;
    color: rgba(black, 0.5);
    
    .menu-active & {
      // .menu-active .app-nav
      opacity: 0;
    }
    
    &__avatar {
      width: 55px;
      height: 55px;
      background-image: url(https://user-images.githubusercontent.com/1764468/51090267-549f9a80-1771-11e9-8864-9c0f2b422cd9.jpg);
      background-size: contain;
      border-radius: 50%;
      border: 5px #333 solid;
      margin-left: 10px;
    }
  }