//==============================================================================
// AVATAR / PROFILE.
//==============================================================================


.profile {
  // Profile / avatar.
  pointer-events: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(var(--base-unit) * 2);
  right: calc(var(--base-unit) * 2);
  transition: 0.1s opacity ease;
  color: rgba(black, 0.5);

  .menu-active & {
    // .menu-active .profile
    // Hide avatar when menu is active.
    opacity: 0;
  }

  &__avatar {
    width: 55px;
    height: 55px;
    background-image: url(/images/profile.jpg);
    background-size: contain;
    border-radius: 50%;
    border: 5px #333 solid;
    margin-left: 10px;
  }
}
