html {
  box-sizing: border-box;
}

*, *:before, *:after {
  // Make everything inherit the border box model.
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  font: inherit;
  margin: 0;
  padding: 0;
}
